<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="FrmScriptEditor">
		<size>400,300</size>
		<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
			<pos>120,144</pos>
			<style>0</style>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer1" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="btnSave" member="yes">
										<label>Save</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE1" variable="choiceOS" member="yes">
										<content>
											<item>Bash (.sh)</item>
											<item>Batch (.bat)</item>
											<item>Powershell (.ps)</item>
										</content>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
										<label>Label</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoicebook" name="ID_CHOICEBOOK1" variable="Choicebook1" member="yes" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
										<label>Label</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<label>Code</label>
			</object>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes" />
				<label>UnCode</label>
			</object>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes" />
				<label>Options</label>
			</object>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes" />
				<label>Config</label>
			</object>
		</object>
	</object>
</wxsmith>
