<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="FrmScriptEditor">
		<size>500,400</size>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
			<pos>120,144</pos>
			<style>0</style>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer1" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="btnSave" member="yes">
										<label>Save</label>
										<handler function="OnBtnSave" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE1" variable="choiceOS" member="yes">
										<content>
											<item>Bash (.sh)</item>
											<item>Batch (.bat)</item>
											<item>Powershell (.ps)</item>
										</content>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
										<label>Label</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxComboBox" name="ID_COMBOBOX1" variable="comboProperty" member="yes">
										<content>
											<item>Test</item>
											<item>Test2</item>
											<item>Test3</item>
											<item>Etc</item>
											<item>Default</item>
											<item>Whatever</item>
										</content>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
										<label>Label</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<label>Code</label>
			</object>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes" />
				<label>UnCode</label>
			</object>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes" />
				<label>Options</label>
			</object>
			<object class="AuiNotebookPage">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer3" member="no" />
				</object>
				<label>Config</label>
			</object>
		</object>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOG1" variable="msgBoxSave" member="yes">
			<caption>Save Changes?</caption>
			<message>Do you want to save your changes?</message>
			<style>wxCANCEL|wxYES_NO|wxYES_DEFAULT</style>
		</object>
	</object>
</wxsmith>
